*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif
}

/* ------classe CLEARFIX da assegnare all'occorrenza ------ */
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

.container {
    margin : 0 auto;
    width:80%;
}

/* nav alto diviso in sinistra e destra */
.nav-top{
    background-color: ghostwhite;
    height: 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-top-left{
    display: inline-block;
    float: left;
    padding: 30px 20px;
    margin: 0 20px;
}

.nav-top-left ul li{
    list-style-type: none;
}

.nav-top-left{
    padding-right: 10px;
}

.choose-language{
    border-right: 1px solid#33475B ;
    color: #33475B;
    font-weight: bold;
    float: left;
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}

.choose-langauge span{
    margin: 0 10px;
}

.drop-link-language{
    display: none;
    position: absolute;
    background: rgb(116,242,236);
    background: linear-gradient(90deg, rgba(116,242,236,1) 0%, rgba(255,255,255,1) 52%, rgba(106,228,252,0.12958686892725846) 100%);
    padding: 10px;
    min-width: 100px;
    z-index: 1;
    color: #33475B;
    text-align: center;
    border-radius: 10px;
}

.drop-link-language a{
    display: block;
    text-decoration: none;
    color: #33475B;
}

.choose-language:hover{
    cursor: pointer;
}

.choose-language:hover .drop-link-language{
    display: block;
}

.contact-sales{
    padding-left: 10px;
    color: #33475B;
    font-weight: bold;
    float: left;
}

.choose-language, .contact-sales:hover{
    cursor: pointer;
}

.nav-top-right{
    float: right;
    padding: 30px 40px;
}

.nav-top-right ul li{
    list-style-type: none;
}

.nav-top-right li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.login{
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-size: 15px;
    margin: 10px;
    color: #33475B;
}

.login:hover{
    background-color: orange;
    color: white;
}

.search{
    margin: 10px;
}

.get-free{
    background-color: orange;
    color: white;
    font-size: 15px;
    padding-left:10px;
    border: 1px solid orange;
    margin:10px;
}

.get-free:hover{
    filter:blur(0.4px);
    color: white;
}

.nav-top:after{
    content: "";
    display: table;
    clear: both;
}

/* ------- fine nav alto -------- */

/* ----------inizio nav bottom------- */

.nav-bottom{
    background-color:aliceblue;
    height: 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 100px 50px;
}

.logo-nav-bottom{
    float: left;
}

.nav-bottom .logo-nav-bottom img{
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.menu{
    float: right;
}

.nav-bottom ul{
    text-align: right;
    padding-right: 20px;
}

.nav-bottom li{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
}

.nav-bottom a{
    text-decoration: none;
    color: #33475B;
    font-weight: bold;
    font-size: 18px;
}

.nav-bottom a::after{
    content:"▾";
    margin-left: 5px;
}

/* ------fine nav bottom------ */

/* ----inizio sezione pubblicitaria-------- */

section.promotion-bar{
    background-color: #425b76;
}

section.promotion-bar p{
    color:white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

section.promotion-bar p a{
    color: white;
    font-weight: bold;
}

/* --------fine sezione pubblicitaria-------- */

/* --------- inizio primo blocco---------- */

.central-container{
    background-image: url(https://www.gate39media.com/wp-content/uploads/2019/09/HubSpot-Post-Background.png);
    background-size: cover;
    border: 3px solid orange;
}
.box-central-container{
    width: 40%;
    background-color:inherit;
    display: inline-block;
    float: left;
    margin: 20px;
}

.box-central-container h1{
    font-size: 60px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #33475B;
    margin: 20px;
}

.box-central-container p{
    color: #33475B;
    font-size: 20px;
    margin: 20px;
}

.box-central-container a{
    text-decoration: none;
    background: orange;
    color:black;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin: 30px 20px;
    padding: 10px;
    display:block;
    font-weight: bold;
}

.box-central-container a:hover{
    filter:blur(0.2);
    color:white;
}

.central-container span{
    font-size: 12px;
    letter-spacing: 1px;
    color: #33475B;
    margin-left: 20px;
}

.central-container::after{
    content:"";
    display: table;
    clear: both;
}

/* ------fine primo blocco ----------- */


/* -----inizio secondo blocco-------- */

.container-stack{
    background-color: lightcyan;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

.box-info{
    width: 300px;
    display: inline-block;
    float: left;
    margin: 20px;
}

.box-info h2{
    font-size: 35px;
    font-weight: bold;
    color: #33475B;
    margin: 20px;
}

.box-info p{
    color: #33475B;
    font-size: 15px;
    margin: 20px;
}

.box{
    display: inline-block;
    float: left;
    width: 300px;
    height: 450px;
    position: relative;
    background: white;
    margin: 20px;
}

.box:hover{
    border: 2px groove orange;
    filter: blur(0.2px);
}

.box h4{
    font-size: 25px;
    font-weight: bold;
    color: #33475B;
    margin: 20px;
}

.box h4::before{
    content:"♣";
}

.box h6{
    font-size: 12px;
    font-weight: bold;
    color: #33475B;
    margin: 20px;
}

.box p{
    color: #33475B;
    font-size: 15px;
    margin: 20px;
}

.box hr{
    border: 0.5px solid grey;
    margin: 20px;
}

.box ul li{
    list-style-type: none;
    margin: 20px;
    font-size: 15px;
}

.box li::before{
    content:"✠";
}

.style-btt-link{
    text-decoration: none;
    background: orange;
    color:black;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin: 30px 20px;
    padding: 10px;
    display:block;
    font-weight: bold;
}

.style-btt-link:hover{
    filter:blur(0.2);
    color:white;
}

.box span{
    position: absolute;
    top:0%;
    right:0%;
    background-color: green;
    color: white;
    font-size: 15px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.container-stack::after{
    content:"";
    display: table;
    clear: both;
}

/* -----fine secondo blocco----- */

/* --------- inizio terzo blocco-------- */

.community{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,101,1) 52%, rgba(0,212,255,1) 100%);
}

.community .title-community h2{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 200px;
}

.community .title-community p{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 200px;
    font-size: 15px;
}

/* ------ blocchi community */

.data-community{
    padding: 20px;
}


.data-community .data-box{
    width: 25%;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: left;
    padding: 50px;
    text-align: center;
}

.data-community .data-box img{
    width: 60px;
    height: 60px;
    margin: 30px;
}

.data-community .data-box h2{
    font-size: 50px;
    margin: 10px;
}

.data-community .data-box h2 span{
    font-size: 20px;
    vertical-align: middle;
}

.data-community .data-box p{
    font-size: 15px;
    margin: 10px
}

.community{
    content: "";
    display: table;
    clear: both;
}

/*---------------- fine terzo blocco----------- */

/* ------inizio quarto blocco--------- */

.customer-box{
    display: inline-block;
    float: left;
    padding: 30px;
    max-width: 500px;
    padding: 50px;
}

.customer-box h2{
    margin: 10px 0;
    font-size: 40px;
    font-weight: bold;
}

.customer-box p{
    font-size: 20px;
    letter-spacing: 1px;
    background-color: silver;
    padding-left: 20px;
}

.customer-box p span{
    font-weight: bold;
    font-size: 25px;
}

.customers .customer-img{
    float: right;
    padding: 30px;
    max-width: 600px;
}

.customers .customer-img img{
    width: 80px;
    height: 60px;
    margin: 20px;
}

.customers::after{
        content: "";
        display: table;
        clear: both;
}
/* ----fine quarto blocco */

/* -------inizio quinto blocco--- */

.customer-bottom-box{
    float: left;
    max-width: 500px;
    padding: 30px;
    margin: 20px 0;
}

.customer-bottom-box h2{
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}

.customer-bottom-box p{
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.customer-bottom-img{
    display: inline-block;
    float: right;
    max-width: 600px;
}

.customer-bottom-img img{
    width: 400px;
    height: 300px;
    margin: 20px;
}

.customer-bottom::after{
        content: "";
        display: table;
        clear: both;
}
/* fine quinto blocco  */

/* ------inizio footer------ */

.contant-footer{
    background-color: #33475b;
    /* width: 100%; */
}

.nav-column{
    padding-top: 40px;
}

.title-column{
    float: left;
    margin: 20px;
}

.title-column span{
    color: white;
    font-size: 20px;
    padding: 10px
}

.column-list a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.nav-column li{
    list-style-type: none;
    padding: 10px;
}

.contant-footer a:hover{
    color: cornflowerblue;
}

.nav-column::after{
        content: "";
        display: table;
        clear: both;
}

/* inizio lista a tendina */
.drop-list{
    position: relative;
    display: inline-block;
}


.drop-list p{
    color: white;
    padding: 10px;
    display: inline-block;
}

.drop-list i{
    color: white;
    padding-left: 5px

}

.drop-link a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.drop-link{
    display: none;
    position: relative;
/* non posizione assoluta altrimenti si sovrappone alla parte sottostante */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-list:hover{
    cursor: pointer;
}

.drop-list:hover .drop-link{
    display: block;
}

/* -----fine lista a tendina----- */

/*  inizio link support */

.link-support a{
    background-color: white;
    text-decoration: none;
    display: inline-block;
    float: left;
    padding: 10px;
    border-radius: 10px;
    color: #33475b;
}

.link-support::after{
    content: "";
    display: table;
    clear: both;
}

/* -----fine link support */


/* ----inizio list icon------ */

.list-icon{
    float: left;
    display: inline-block;
}

.list-icon li{
    list-style-type: none;
    color: white;
    font-size: 30px;
    display: inline-block;
    margin:5px;
}

.list-icon::after{
    content: "";
    display: table;
    clear: both;
}
/* ----fine list icon------ */

/* -----inizio scelta lingua------*/
.languages-link{
    text-align: center;
    margin-top: 20px;
    border-bottom: 2px solid azure;
    padding-bottom: 20px;
}

.languages-link li{
    display: inline-block;
}

.languages-link li a{
    text-transform: uppercase;
    color: white;
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    font-size: 25px;
    align-items: center;
}

/* -----fine list column -------*/

/* ------- piè di pagina----- */
.footer-bottom-left{
    float: left;
    align-items: center;
}

.footer-bottom-left img{
    width: 200px;
    height: 150px;
}

.footer-bottom-left p{
    color: white;
    font-size: 15px;

}
.footer-bottom-right{
    float: right;
    margin: 60px 40px;
    align-items: center;
}

.footer-bottom-right a{
    color: white;
    text-decoration: none;
    padding: 40px;
    font-size: 30px;
}

.contant-footer li a i:hover{
    color: blue;
    cursor: pointer;
}

.footer-bottom::after{
    content: "";
    display: table;
    clear: both;
}

/* creazione chat fixed */

.container-chat{
    position: relative;
}

.chat-fixed{
    position: fixed;
    z-index: 1;
    bottom:0%;
    right: 0%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.chat-fixed img{
    width: 50px;
    height: 50px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,0%);
}

.chat-fixed p{
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position:relative;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    background: rgb(27,173,182);
    background: linear-gradient(90deg, rgba(27,173,182,1) 29%, rgba(11,77,90,0.12958686892725846) 100%);
}

.container-chat .chatbtt{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 20px;
    Color: #33475b;
    width: 100px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCG_H_9UVkwCOPoqzRpjSuucJBViTsO7qqQw&usqp=CAU);
    background-size: cover;
    border-radius: 50%;
}
